<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title size="large">Photos </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Photo</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<!-- gallery -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- camera -->
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary" (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
